<header id="header" class="fixed-top "></header>
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Binary<span>Blossoms</span>.</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
       <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Home</a></li>
          <li><a class="nav-link scrollto" href="#">Policy</a></li>
          <li><a class="nav-link scrollto" href="#">Claims</a></li>
          <li><a class="nav-link scrollto " href="#">Help</a></li>
          <li><a class="nav-link scrollto" href="#">Tracker</a></li>
          
          </li>
          <li><a class="nav-link scrollto" href="#">Review</a></li>
          <li><a class="nav-link scrollto" href="#">About Us</a></li>
          <li class="fas fa-user profile-icon"><a class="nav-link scrollto" href="#">Profile</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     
      <li> <a href="{% url 'register'%}" class="get-started-btn scrollto">Get Started</a></li>